// Grand Central Station, Main, Vertex, Canon, etc. 

@import "animate.min.css";
@import "normalize";
@import "google-homepage";

@import url('https://fonts.googleapis.com/css?family=Lato');


/* Styling */
body {
    background-color: white;
}

// Stage (Parent)
#stage {
    height: 300px;
    width: 600px;  
    background: white;
    position: relative;
    overflow: hidden;
}

#stage h1 {
  margin-left: 120px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin-top: 145px;
  font-size: 8em;
  color: white; 
  position: absolute;
  z-index: 2;
}

#stage img {
  height: 300px;
  width: 600px;
 animation: slideInUp 5s; 
  overflow: hidden;
}

#stage svg {
  z-index: 4;
  width: 75px;
  position: relative;
  left: 23px;
  bottom: 106px;
  animation: fadeIn 7s, 
    spinning 4s 4s;
}


@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}










