// Grand Central Station, Main, Vertex, Canon, etc. 

@import "animate.min.css";
@import "normalize";
@import "google-homepage";


/* Styling */
body {
    background-color: white;
}

// Stage (Parent)
#stage {
    height: 300px;
    width: 600px;  
    background: white;
}
}
}
}

#stage h1 {
  margin-left: 90px;
  text-align: center;
  margin-top: 150px;
  font-size: 7em;
  color: white; 
  position: absolute;
  z-index: 2;
}

#stage img {
  height: 300px;
  width: 600px;
 animation: slideInUp 5s; 
  overflow: hidden;
}

#stage svg {
  z-index: 4;
  width: 70px;
  position: relative;
  left: 140px;
  bottom: 113px;
  animation: fadeIn 7s, 
    spinning 4s 4s;
}


@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}










